# Django
DJANGO_SECRET_KEY=generate-a-long-random-secret-key
DJANGO_SETTINGS_MODULE=config.settings.prod
ALLOWED_HOSTS=localhost,yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Supabase PostgreSQL
# Get these from Supabase Dashboard → Project Settings → Database
SUPABASE_URL=db.bwyojdkqnrnngobxyovx.supabase.co
SUPABASE_DB_PASSWORD=your-database-password-here
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PORT=5432

# Redis (optional — only needed for Celery in local dev)
# REDIS_URL=redis://localhost:6379/0

# Supabase Auth (if needed later)
NEXT_PUBLIC_SUPABASE_URL=https://bwyojdkqnrnngobxyovx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_awW8mpZt4UFoGJfjbi6CzQ_hYuU4PAj
