# Django
DJANGO_SECRET_KEY=generate-a-long-random-secret-key
DJANGO_SETTINGS_MODULE=config.settings.prod
ALLOWED_HOSTS=localhost,.railway.app
CSRF_TRUSTED_ORIGINS=https://*.railway.app

# Railway PostgreSQL — akan otomatis inject DATABASE_URL
# Tinggal tambah New → Database → PostgreSQL di dashboard Railway

# Redis (optional — only needed for Celery)
# REDIS_URL=redis://localhost:6379/0
